<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% block metadata %}

    {% endblock %}
    
   
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/park_lFs_icon.ico" />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;Raleway:300,400,500,600,700,800,900"
            rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- owl-carousel -->
    <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup/magnific-popup.css" />
    <!-- media element player -->
    <link href="/css/mediaelementplayer.min.css" rel="stylesheet" type="text/css" />
    <!-- Animate -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- custom style -->
    <link rel="stylesheet" href="/css/custom.css" />


    <link rel="stylesheet" href="/test/demo.css">
    <!-- Responsive -->

    <!-- custom style -->
    <link rel="stylesheet" href="/test/style.css" />

    <link rel="stylesheet" href="/css/duDialog.css"/>

    
    {% block styles %}

    {% endblock %}

</head>

<body  data-spy="scroll" data-offset="80">
<!-- loading -->
<script src="/controllers/config.js"></script>
<div id="loading">
    <div id="loading-center">
        <div class="loader">
            <div class="cube">
                {# <div class="sides">
                    <div class="top"></div>
                    <div class="right"></div>
                    <div class="bottom"></div>
                    <div class="left"></div>
                    <div class="front"></div>
                    <div class="back"></div>
                </div> #}

                <img src = "images/88.gif" />
            </div>
        </div>
    </div>
</div>
<!-- loading End -->
<!-- Header -->
<header id="main-header" class="dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light" >
                    <a class="navbar-brand" href="/">
                        <img class="img-fluid" id="logo_img" src="images/banner/park.png" alt="#">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ion-navicon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto w-100 justify-content-end" id="navbar">
                            <li class="nav-item">
                                <a class="nav-link" href = "/">Home</a>
                            </li>
                            {# <li class="nav-item">
                                <a class="nav-link" href="/directions">Directions</a>
                            </li> #}
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutus"  >About Us</a>
                            </li>

                            {#<li class="nav-item">#}
                                {#<a class="nav-link js-signin-modal-trigger" href="#" data-signin="login" style="color:#0eb0dcdb">Sign In/Up</a>#}
                            {#</li>#}

                            {# <li class="nav-item">
                                <a class="nav-link js-signin-modal-trigger" href="#"
                                   data-signin="signup" style="color:#0eb0dcdb">Sign Up</a>
                            </li> #}
                        </ul>
                        {# <a class="button pull-right" href="#0" data-signin="login">Book</a> #}

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

     
    {% block main %}

    {% endblock %}

<!-- Footer -->
 <section class="footer-info iq-pt-60" style = "background-color:#6c757d40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="iq-footer-box text-left">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-location-outline"></i>
                            </div>
                            <div class="footer-content">
                                <h4 class="iq-tw-6 iq-pb-10">Address</h4>
                                <p>34 New House, 67-68 Hatton Garden, London EC1N 8JY</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 r4-mt-30">
                        <div class="iq-footer-box text-left">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-telephone-outline"></i>
                            </div>
                            <div class="footer-content">
                                <h4 class="iq-tw-6 iq-pb-10">Phone</h4>
                                <p>020 8936 7680
                                    {# <br>Mon-Fri 8:00am - 8:00pm #}
                                    {# <br> #}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 r-mt-30">
                        <div class="iq-footer-box text-left">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-email-outline"></i>
                            </div>
                            <div class="footer-content">
                                <h4 class="iq-tw-6 iq-pb-10">Mail</h4>
                                <p>info@parkupfly.co.uk
                                    <br>24/7 online support
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 align-self-center">
                        <ul class="info-share">
                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row iq-mt-40">
                    <div class="col-sm-12 text-center">
                        <div class="footer-copyright iq-ptb-20">Copyright @<span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="javascript:void(0)" class="text-green">ParkupNfly.</a> All Rights Reserved </div>
                    </div>
                </div>
            </div>
        </section>



<!-- modal signup and sign in -->
<div id="sign-model" class="cd-signin-modal js-signin-modal">
    <!-- this is the entire modal form, including the background -->
    <div class="cd-signin-modal__container">
        <!-- this is the container wrapper -->
        <ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
            <li><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
            <li><a href="#0" data-signin="signup" data-type="signup">New account</a></li>
        </ul>

        <div class="cd-signin-modal__block js-signin-modal-block" data-type="login">
            <!-- log in form -->
            <form class="cd-signin-modal__form">
                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                            for="signin-email">E-mail</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="log-in-email" type="email" placeholder="E-mail">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                            for="signin-password">Password</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="log-in-password" type="text" placeholder="Password">
                    <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                {# <p class="cd-signin-modal__fieldset">
                    <input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
                    <label for="remember-me">Remember me</label>
                </p> #}

                <p class="cd-signin-modal__fieldset">
                    <input onclick="log()" class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit" value="Login" />
                </p>
            </form>

            <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0"
                                                                                  data-signin="reset">Forgot your password?</a></p>
        </div> <!-- cd-signin-modal__block -->

        <div class="cd-signin-modal__block js-signin-modal-block" data-type="signup">
            <!-- sign up form -->
            <form class="cd-signin-modal__form">
                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                            for="signup-username">Username</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-first-name" type="text" placeholder="First Name">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                            for="signup-username">Username</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-last-name" type="text" placeholder="Last Name">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                            for="signup-username">Username</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-contact" type="text" placeholder="Contact">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                            for="signup-email">E-mail</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-email" type="email" placeholder="E-mail">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                            for="signup-password">Password</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-password" type="text" placeholder="Password">
                    <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                {# <p class="cd-signin-modal__fieldset">
                    <input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
                    <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                </p> #}

                <p class="cd-signin-modal__fieldset">
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                            onclick="create()" type="submit" value="Create account">
                </p>
            </form>
        </div> <!-- cd-signin-modal__block -->

        <div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
            <!-- reset password form -->
            <p class="cd-signin-modal__message">Lost your password? Please enter your email address. You will
                receive a link to create a new password.</p>

            <form class="cd-signin-modal__form">
                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                            for="reset-email">E-mail</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="reset-email" type="email" placeholder="E-mail">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                            type="submit" value="Reset password">
                </p>
            </form>

            <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back
                    to log-in</a></p>
        </div> <!-- cd-signin-modal__block -->
        <a href="#0" class="cd-signin-modal__close js-close">Close</a>
    </div> <!-- cd-signin-modal__container -->
</div> <!-- cd-signin-modal -->



<!-- Footer END -->
<!-- back-to-top -->
<div id="back-to-top">
    <a class="top" id="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
</div>
<!-- back-to-top End -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/controllers/login.js"></script>

<script type="text/javascript">


    console.log(window.location.href);

    if(window.location.href ==='https://parkupfly.co.uk/logout'){
            var url = getHost();
            window.location.replace(url);
    }

    function aboutUs() {
        var url = getHost()+ 'aboutus';
        window.location.replace(url);
    }

    function profile() {
        var url = getHost()+ 'profile';
        window.location.replace(url);
    }

    function home() {
        var url = getHost();
        window.location.replace(url);
    }


    function log(){
        console.log('ldlfdlf')
        console.log($('#log-in-password').val());
        var json = { email: $('#log-in-email').val(), password: $('#log-in-password').val() };
        $.post("/signinpost", json)
            .done(function( data ) {
                window.location.reload();
            });

    }

    function create(){
       
        var json =  {
                        first_name:  $('#sign-up-first-name').val(),
                        last_name:  $('#sign-up-last-name').val() ,
                        contact:  $('#sign-up-contact').val() ,
                        email:  $('#sign-up-email').val() ,
                        password:  $('#sign-up-password').val() ,};
        $.post("/signuppost",json)
            .done(function( data ) {
              
                window.location.reload();
            });

    }
</script>
<!-- Main js -->
<script src="/js/main.js"></script>
<!-- Google captcha code Js -->
<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- Custom -->
<script src="/js/custom.js"></script>

<script src="/js.1/placeholders.min.js"></script>
<!-- WhatsHelp.io widget -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c907101c37db86fcfce9e9b/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<!-- /WhatsHelp.io widget -->

<script src="/js/duDialog.js"></script>

{% block scripts %}

{% endblock %}
<script src="/js.1/main.js"></script>
</body>

</html>

