/* body {
    font-family: Arial, Helvetica, sans-serif;
} */

.flip-box {
    background-color: transparent;
    width: 100%;
    height: 30px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-front p {
   font-family: sans-serif !important;
} 

.flip-box-back {
    background-color: #c7e3e4;
    color: #50b9f7;
    transform: rotateX(180deg);
    display: flex;
}



@media screen and (max-width: 420px) {
    .flip-box{
        height: 100px;
        
    }

    .flip-box-back{
        display: block;
    }
    .flip-box-front{
        display: block;
    }

    .flip-box-back p {
        margin-bottom:5px; 
    }
    .flip-box-front p {
        text-align: left;
        margin: 0px !important;
    }
}


body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    /* height: 100%; */
    overflow: auto;
    border-radius: 3px;

}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    background-color: #c3c3ff;
}

.sidebar a.active {
    background-color: #50b9f7;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 50vh;
    overflow: hidden;
    overflow-y: auto;

}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }

    #bodydiv{
        padding: 0px;
        margin-top: 10px;
    }
}

.container-form {
    padding: 20px;
    background-color: #efefef;
}

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

#bookingImg{
    margin-top: 10px;
    width: 200px !important;
    height: 100px;
    cursor: pointer;
}